<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bcos.browser.mapper.TbNodeConnectionMapper">
    <resultMap id="TbNodeConnectionMap" type="org.bcos.browser.dto.TbNodeConnectionDto" >
        <id column="pk_id" jdbcType="INTEGER" property="pkId" javaType="java.lang.Integer" />
        <result column="ip" jdbcType="VARCHAR" property="ip" javaType="java.lang.String" />
        <result column="rpcPort" jdbcType="INTEGER" property="rpcPort" javaType="java.lang.Integer" />
    </resultMap>

    <sql id="ALL_COLUMN">
        pk_id,ip,rpcPort
    </sql>

    <!--Query node rpc link table total records-->
    <select id="getAllNodeConnectionCount" resultType="java.lang.Integer">
        SELECT count(ip) AllCOUNT FROM tb_nodeConnection WHERE  1=1
        <if test="ip != null and ip != ''">
            AND ip LIKE CONCAT('%',#{ip},'%')
        </if>
    </select>

    <!--Paging query node rpc link table-->
    <select id="getTbNodeConnectionByOffset" resultMap="TbNodeConnectionMap">
        SELECT <include refid="ALL_COLUMN"/>
        FROM tb_nodeConnection WHERE  1=1
        <if test="ip != null and ip != ''">
            AND ip LIKE CONCAT('%',#{ip},'%')
        </if>
        <if test="rpcPort != null and rpcPort != ''">
            AND rpcPort LIKE CONCAT('%',#{rpcPort},'%')
        </if>
        ORDER BY ip,rpcPort ASC limit #{offset},#{size}
    </select>

    <!--Get node configuration information based on pkid-->
    <select id="getTbNodeConnectionByPkId" resultType="org.bcos.browser.dto.TbNodeConnectionDto">
        SELECT  pk_id as pkId,ip,rpcPort
        FROM tb_nodeConnection WHERE pk_id = #{pkId} limit 1;
    </select>

    <!--Delete node configuration information-->
    <delete id="deleteTbNodeConnection">
        DELETE FROM tb_nodeConnection WHERE pk_id = #{pkId};
    </delete>

    <!--Modify node configuration information-->
    <delete id="updateTbNodeConnection">
        UPDATE tb_nodeConnection
         SET ip=#{ip},rpcPort=#{rpcPort}
         WHERE pk_id = #{pkId};
    </delete>

    <!--Add record-->
    <insert id="addRow" useGeneratedKeys="true" keyProperty="pkId" parameterType="org.bcos.browser.entity.req.ReqAddNodeConfigRowVO">
        insert into tb_nodeConnection(ip,rpcPort)
        values(#{ip},#{rpcPort})
    </insert>
</mapper>