<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口-->
<mapper namespace="org.bcos.browser.mapper.TbPendingTransactionMapper">
    <resultMap id="TbPendingTransactionMap" type="org.bcos.browser.dto.TbPendingTransactionDto" >
        <id column="pk_hash" jdbcType="VARCHAR" property="pkHash" javaType="java.lang.String" />
        <result column="blockHash" jdbcType="VARCHAR" property="blockHash" javaType="java.lang.String" />
        <result column="blockNumber" jdbcType="INTEGER" property="blockNumber" javaType="java.lang.Integer" />
        <result column="transactionIndex" jdbcType="BIGINT" property="transactionIndex" javaType="java.math.BigInteger" />
        <result column="transactionFrom" jdbcType="VARCHAR" property="transactionFrom" javaType="java.lang.String" />
        <result column="transactionTo" jdbcType="VARCHAR" property="transactionTo" javaType="java.lang.String" />
        <result column="gas" jdbcType="BIGINT" property="gas" javaType="java.math.BigInteger" />
        <result column="gasPrice" jdbcType="DECIMAL" property="gasPrice" javaType="java.math.BigDecimal" />
        <result column="cumulativeGas" jdbcType="BIGINT" property="cumulativeGas" javaType="java.math.BigInteger" />
        <result column="randomId" jdbcType="VARCHAR" property="randomId" javaType="java.lang.String" />
        <result column="inputText" jdbcType="VARCHAR" property="inputText" javaType="java.lang.String" />
        <result column="type" jdbcType="VARCHAR" property="queueType" javaType="java.lang.String" />
    </resultMap>

    <!--字段-->
    <sql id="ALL_COLUMN">
       pk_hash,blockHash,blockNumber,transactionIndex,transactionFrom,transactionTo,gas,gasPrice,cumulativeGas,randomId,
       inputText,type
    </sql>

    <!--获取正在处理但还未上链的交易表的总记录数-->
    <select id="getAllPendingTransactionCount" resultType="INTEGER">
        SELECT count(1) tranasctionCount FROM tb_pendingTransaction;
    </select>

    <!--分页查询正在处理但还未上链的交易表的记录-->
    <select id="getTbPendingTransactionByOffset" resultMap="TbPendingTransactionMap">
        SELECT <include refid="ALL_COLUMN"/>
        from tb_pendingTransaction ORDER BY pk_hash DESC limit #{offset},#{size}
    </select>

    <!--根据pkHash查询-->
    <select id="getTbPendingTransactionByPkHash" resultType="org.bcos.browser.dto.TbPendingTransactionDto">
        SELECT <include refid="ALL_COLUMN"/>
        from tb_pendingTransaction WHERE pk_hash = #{pkHash} limit 1;
    </select>


</mapper>