<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.webank.bcos.browser.mapper.TbStatBlockMapper">
    <resultMap id="TbStatBlockMap" type="cn.webank.bcos.browser.dto.TbStatBlockDto" >
        <id column="pk_id" jdbcType="INTEGER" property="pkId" javaType="java.lang.Integer" />
        <result column="height" jdbcType="INTEGER" property="height" javaType="java.lang.Integer" />
        <result column="hash" jdbcType="VARCHAR" property="hash" javaType="java.lang.String" />
        <result column="start" jdbcType="VARCHAR" property="start" javaType="java.lang.String" />
        <result column="sealed" jdbcType="VARCHAR" property="sealed" javaType="java.lang.String" />
        <result column="execed" jdbcType="VARCHAR" property="execed" javaType="java.lang.String" />
        <result column="signed" jdbcType="VARCHAR" property="signed" javaType="java.lang.String" />
        <result column="commited" jdbcType="VARCHAR" property="commited" javaType="java.lang.String" />
        <result column="onChain" jdbcType="VARCHAR" property="onChain" javaType="java.lang.String" />
        <result column="viewchange_start" jdbcType="VARCHAR" property="viewChangeStart" javaType="java.lang.String" />
        <result column="viewchanged" jdbcType="VARCHAR" property="viewChanged" javaType="java.lang.String" />
        <result column="detailInfo" jdbcType="VARCHAR" property="detailInfo" javaType="java.lang.String" />
        <result column="object" jdbcType="VARCHAR" property="object" javaType="java.lang.String" />
        <result column="collectTimestamp" jdbcType="TIMESTAMP" property="collectTimestamp" javaType="java.sql.Timestamp" />
    </resultMap>

    <sql id="ALL_COLUMN">
        pk_id,height,hash,start,sealed,execed,signed,commited,onChain,viewchange_start,viewchanged,detailInfo,object,collectTimestamp
    </sql>

    <!--Query the total number of records in the block flow statistics table-->
    <select id="countTbStatBlock" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(hash) AllCOUNT FROM ${tableName} WHERE 1=1
        <if test="hash != null and hash != ''">
            AND hash LIKE CONCAT('%',#{hash},'%')
        </if>
        <if test="timeStartStr != null and timeStartStr != ''">
            AND DATE_FORMAT(collectTimestamp,'%H:%i:%s') &gt;=  #{timeStartStr}
        </if>
        <if test="timeEndStr != null and timeEndStr != ''">
            AND DATE_FORMAT(collectTimestamp,'%H:%i:%s') &lt;= #{timeEndStr}
        </if>
    </select>

    <!--Paging query block process statistics list, does not contain detailInfo field (this field is too large, affect the speed)-->
    <select id="listTbStatBlock" parameterType="java.util.Map" resultMap="TbStatBlockMap">
        SELECT b.pk_id,b.height,b.hash,b.start,b.sealed,b.execed,b.signed,b.commited,b.onChain,b.viewchange_start,b.viewchanged,b.object,b.collectTimestamp FROM (
            SELECT pk_id FROM ${tableName}  WHERE 1=1
        <if test="hash != null and hash != ''">
            AND hash LIKE CONCAT('%',#{hash},'%')
        </if>
        <if test="timeStartStr != null and timeStartStr != ''">
            AND DATE_FORMAT(collectTimestamp,'%H:%i:%s') &gt;=  #{timeStartStr}
        </if>
        <if test="timeEndStr != null and timeEndStr != ''">
            AND DATE_FORMAT(collectTimestamp,'%H:%i:%s') &lt;= #{timeEndStr}
        </if>
            ORDER BY height DESC limit #{offset},#{size}
        ) a
        LEFT JOIN ${tableName} b ON (a.pk_id=b.pk_id)
    </select>

</mapper>