<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口-->
<mapper namespace="org.bcos.browser.mapper.TbTxnByDayMapper">
    <resultMap id="tbTxnByDayMap" type="org.bcos.browser.dto.TbTxnByDayDto" >
        <id column="pk_date" jdbcType="DATE" property="pkDate" javaType="java.util.Date"/>
        <result column="txn" jdbcType="BIGINT" property="transactionNumber" javaType="java.math.BigInteger" />
    </resultMap>

    <!--字段-->
    <sql id="ALL_COLUMN">
       pk_date,txn
    </sql>

    <!--分页查询最新的记录-->
    <select id="getLastTbTxnByDayByOffset" resultMap="tbTxnByDayMap">
        SELECT <include refid="ALL_COLUMN"/>
        FROM tb_txnByDay ORDER BY pk_date DESC limit #{offset},#{size}
    </select>
</mapper>