@font-face {
    font-family: 'webfont';
    src: url('../font/webfont.eot'); /* IE9 */
    src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/webfont.woff') format('woff'), /* chrome、firefox */
    url('../font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.web-font {
    font-family: "webfont",Arial;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}