.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.el-button{
    height: 40px !important;
    line-height: 1 !important;
}

/*查看区块 查看交易搜索面板样式*/
.search-main{
    height: calc(100% - 120px);
    background-color: #2a2c3b;
    padding-bottom: 20px
}

.search-nav{
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: #3b3e54;
    color: #fff;
}
/*@media screen and (max-width: 900px){*/
    /*.search-nav{*/
        /*width: 100%;*/
        /*padding: 20px 0;*/
        /*line-height: 60px;*/
    /*}*/
/*}*/

.search-nav .hashInput{
    position: relative;
    display: inline-block;
    padding-left: 30px;
}
.search-nav .hashInput .label{
    display: inline-block;
    width: 90px;
}
.search-nav .hashInput .hashlabel{
    display: inline-block;
    width: 60px;
}

.search-nav .hashInput .input{
    /* width: 210px; */
}

.search-nav .hashInput .dateInput{
    vertical-align: middle;
    line-height: 1;
}

.search-nav .hashInput .el-input__inner{
    background-color: #3b3e54;
    color: #fff;
}

.search-nav .hashInput .el-range-input{
    background-color: #3b3e54;
    color: #fff;
}

.search-table .el-table th, .search-table .el-table tr{
    background-color: #3b3e54;
    color: #fff;
}

.search-table .el-table tr:hover{
    color: #333;
}

.search-table .el-table__empty-block{
    background-color: #3b3e54;
}

.table-link{
    color: #3498db;
}
.table-link:hover{
    color: #3498db;
    text-decoration: #3498db;
}

.search-pagation{
    margin-top: 30px;
    color: #fff;
    /*background-color:  #3b3e54;*/
}


.search-pagation .el-pagination li{
    background-color: #2a2c3b;
    color: #FFF;
}

.search-pagation .el-pager li.btn-quicknext, .search-pagation .el-pager li.btn-quickprev{
    color: #fff;
}

.search-pagation .el-pagination .btn-next, .search-pagation .el-pagination .btn-prev{
    background-color: #2a2c3b;
    color: #fff;
}
.search-pagation .el-pagination button:hover{
    color:#409EFF
}

.search-pagation .el-input--suffix input{
    background-color: #2a2c3b;
    color: #fff;
}




/*详情页样式*/
.detail-content{
    width: 100%;
    background-color: #3b3e54;
}
.detail-content .c-title {
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #fff;
}

.hash-content-info{
    background-color: #2a2c3b;
}
.hash-content-info .box{
    width: 100%;
}
.hash-content-info .content{
    width: 100%;
    box-sizing: border-box;
    background-color: #3b3e54;
    border-top: 1px solid #4c4f66;
    padding: 30px 40px;
    color: #fff;
}
.hash-content-info .content .pre{
    white-space: pre-wrap!important;
    word-wrap: break-word!important;
    width: 100%;
    margin:0;
    font-size: 14px;
    line-height: 24px;
}

/*html{*/
    /*scrollbar-face-color: #3b3e54;;!*滚动条颜色*!*/
    /*scrollbar-highlight-color:#000;*/
    /*scrollbar-3dlight-color:#000;*/
    /*scrollbar-darkshadow-color:#000;*/
    /*scrollbar-Shadow-color:#adadad;!*滑块边色*!*/
    /*scrollbar-arrow-color:rgba(0,0,0,0.4);!*箭头颜色*!*/
    /*scrollbar-track-color:#3b3e54;!*背景颜色*!*/
/*}*/

/*::-webkit-scrollbar*/
/*{*/
    /*background-color: #3b3e54;*/
/*}*/
/*!*定义滚动条轨道 内阴影+圆角*!*/
/*::-webkit-scrollbar-track*/
/*{*/
    /*border-radius: 10px;*/
    /*background-color: #3b3e54;*/
/*}*/
/*!*定义滑块 内阴影+圆角*!*/
/*::-webkit-scrollbar-thumb*/
/*{*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    /*background-color: #3b3e54;*/
/*}*/
/*!*滑块效果*!*/
/*::-webkit-scrollbar-thumb:hover*/
/*{*/
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    /*background: rgba(0,0,0,0.4);*/
/*}*/


/*弹窗样式*/
.el-dialog__header{
    background-color: #2a2c3b !important;
    color: #fff !important;
}

/*elementUI表格样式自定义*/
.el-table tr{
    border-color: #999
}
.el-table th{
    border-color: #999
}
.el-table td{
    border-color: #999
}


/*弹出框样式*/
.modal-label{
    margin-bottom: 20px;
}
.modal-label>span{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}
.modal-label{
    /*width: 250px;*/
}
.modal-label input{
    width: 250px;
    background-color: #fff!important;
}
.modal-button{
    padding-top: 10px;
    text-align: center;
}
.el-dialog__header{
    background-color: #2a2c3b !important;
}
.el-dialog__title{
    color: #fff !important;
}
.el-dialog__headerbtn .el-dialog__close{
    color: #fff !important;
}
.el-dialog__body{
    padding: 0 ;
    background-color: #3b3e54;
}
.node-model-conetnt{
    padding: 30px 20px 20px 150px;
    border-top:1px solid #494f72;
    border-bottom:1px solid #494f72;
}
.node-model-foot{
    padding: 20px;
    /*padding-left: 220px;*/
}
.el-message-box{
    background-color: #3b3e54 !important;
    padding: 0 !important;
    border: 1px solid #494f72 !important;
}
.el-message-box__content{
    color: #fff !important;
    font-size: 16px !important;
}
.el-message-box__btns{
    font-size: 0 !important;
    padding: 0 !important;;
    width: 100% !important;;
    margin: 0 !important;;
}
.el-message-box__btns button{
    display: inline-block !important;;
    width: 50% !important;;
    font-size: 14px !important;;
    box-sizing: border-box !important;;
    margin: 0 !important;;
    border-radius: unset !important;;
    border: 1px solid #494f72 !important;;
    background-color:  #3b3e54 !important;;
    color: #fff !important;;
}
.el-message-box__btns button:hover{
    background-color:  #3b3e54 !important;;
    border: 1px solid #494f72 !important;;
    color: #355e96 !important;
}
.el-message-box__btns button:nth-child(2){
    margin: 0 !important;;
    color: #66b1ff !important;;
}
.el-message-box .el-button--primary{
    background-color: #3b3e54 !important;;
    border: 1px solid #494f72 !important;;
}
.el-message-box__title{
    color: #fff !important;
}


.el-date-editor .el-range-separator{
    color: #fff !important;
}


.el-table{
    border-color: #666 !important;
}
.el-table__body-wrapper{
    border-color: #666 !important;
}
.el-table table{
    border-color: #666 !important;
}
.el-table tbody{
    border-color: #666 !important;
}
.el-table tr{
    border-color: #666 !important;
}
.el-table th{
    border-color: #666 !important;
}
.el-table td{
    border-color: #666 !important;
}
.el-table--border:after, .el-table--group:after, .el-table:before{
    background-color: #666 !important;
}
.el-table__fixed-right::before, .el-table__fixed::before{
    background-color: #666 !important;
}


