<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bcos.browser.dao.GovernServiceDAO">

	<select id="selectBlockChainHeigth" resultType="int">
		select IFNULL(MAX(lastBlock), 0) as lastBlock from tb_blockChainInfo
	</select>
	
	<select id="selectBlockHeigth" resultType="int">
		select IFNULL(MAX(number), 0) as blockHeight from tb_block
	</select>
	
	<select id="selectBlockInfoCount" resultType="int">
		select count(*) as id from tb_block
	</select>
	
	<select id="selectTransactionInfoCount" resultType="int">
		select count(*) as id from tb_transaction
	</select>
	
	<select id="selectPendingTransInfoCount" resultType="int">
		select count(*) as id from tb_pendingTransaction
	</select>
	
	<select id="selectTimestamp" resultType="java.sql.Timestamp">
		select timestamp from tb_block order by timestamp desc limit 5000
	</select>
	
	<select id="selectPkHash" resultType="string">
		select pk_hash from tb_transaction where pk_hash=#{pk_hash}
	</select>
	
	<select id="selectAuctionSuccessEvent" resultType="string">
        select blockHash from MarketAuctionSuccessEvent where blockNumber=#{blockNumber} and transactionIndex=#{transactionIndex} and eventIndex=#{eventIndex}
    </select>
    
    <select id="selectCNS" resultType="string">
        select contractName from CnsContract where contractAddress=#{contractAddress}
    </select>

	<insert id="insertBlockChainInfo" parameterType="cn.bcos.browser.dto.BlockChainInfoDTO" useGeneratedKeys="false">
		insert into tb_blockChainInfo(
			`lastBlock`,
			`txn`,
			`pendingTxn`,
			`pbftView`,
			`avgTime`,
			`gmt_create`,
			`gmt_modify`
		) values (
			#{lastBlock},
			#{txn},
			#{pendingTxn},
			#{pbftView},
			#{avgTime},
			NOW(),
			NOW()
		)
	</insert>
	
	<insert id="insertBlockInfo" parameterType="cn.bcos.browser.dto.BlockInfoDTO" useGeneratedKeys="false">
		insert into tb_block(
			`pk_hash`,
			`number`,
			`parentHash`,
			`miner`,
			`genIndex`,
			`size`,
			`gasLimit`,
			`gasUsed`,
			`avgGasPrice`,
			`timestamp`,
			`txn`,
			`extraData`,
			`detailInfo`,
			`gmt_create`,
			`gmt_modify`
		) values (
			#{pk_hash},
			#{number},
			#{parentHash},
			#{miner},
			#{genIndex},
			#{size},
			#{gasLimit},
			#{gasUsed},
			#{avgGasPrice},
			#{timestamp},
			#{txn},
			#{extraData},
			#{detailInfo},
			NOW(),
			NOW()
		)
	</insert>
	
	<insert id="insertTransactionInfo" parameterType="cn.bcos.browser.dto.TransactionInfoDTO" useGeneratedKeys="false">
		insert into tb_transaction(
			`pk_hash`,
			`blockHash`,
			`blockNumber`,
			`blockTimestamp`,
			`blockGasLimit`,
			`transactionIndex`,
			`transactionFrom`,
			`transactionTo`,
			`gas`,
			`gasPrice`,
			`cumulativeGas`,
			`randomId`,
			`contractName`,
			`version`,
			`method`,
			`params`,
			`inputText`,
			`gmt_create`,
			`gmt_modify`
		) values (
			#{pk_hash},
			#{blockHash},
			#{blockNumber},
			#{blockTimestamp},
			#{blockGasLimit},
			#{transactionIndex},
			#{transactionFrom},
			#{transactionTo},
			#{gas},
			#{gasPrice},
			#{cumulativeGas},
			#{randomId},
			#{contractName},
			#{version},
			#{method},
			#{params},
			#{inputText},
			NOW(),
			NOW()
		)
	</insert>
	
	<insert id="insertReceiptInfo" parameterType="cn.bcos.browser.dto.ReceiptInfoDTO" useGeneratedKeys="false">
		insert into tb_transactionReceipt(
			`pk_hash`,
			`blockHash`,
			`blockNumber`,
			`contractAddress`,
			`transactionIndex`,
			`gasUsed`,
			`cumulativeGasUsed`,
			`logs`,
			`detailInfo`,
			`gmt_create`,
			`gmt_modify`
		) values (
			#{pk_hash},
			#{blockHash},
			#{blockNumber},
			#{contractAddress},
			#{transactionIndex},
			#{gasUsed},
			#{cumulativeGasUsed},
			#{logs},
			#{detailInfo},
			NOW(),
			NOW()
		)
	</insert>
	
	<insert id="insertPendingTransInfo" parameterType="cn.bcos.browser.dto.TransactionInfoDTO" useGeneratedKeys="false">
		insert into tb_pendingTransaction(
			`pk_hash`,
			`blockHash`,
			`blockNumber`,
			`transactionIndex`,
			`transactionFrom`,
			`transactionTo`,
			`gas`,
			`gasPrice`,
			`cumulativeGas`,
			`randomId`,
			`inputText`,
			`type`,
			`gmt_create`,
			`gmt_modify`
		) values (
			#{pk_hash},
			#{blockHash},
			#{blockNumber},
			#{transactionIndex},
			#{transactionFrom},
			#{transactionTo},
			#{gas},
			#{gasPrice},
			#{cumulativeGas},
			#{randomId},
			#{inputText},
			#{type},
			NOW(),
			NOW()
		)
	</insert>
	
	<insert id="insertNodeInfo" parameterType="cn.bcos.browser.dto.NodeInfoDTO" useGeneratedKeys="false">
		insert into tb_nodesInfo(
			`pk_id`,
			`addr`,
			`blockNumber`,
			`gmt_create`,
			`gmt_modify`,
			`active`
		) values (
			#{pk_id},
			#{addr},
			#{blockNumber},
			NOW(),
			NOW(),
			#{active}
		)
	</insert>
	
	<insert id="insertTxnByDayInfo" useGeneratedKeys="false">
		replace into tb_txnByDay (pk_date,txn,gmt_create,gmt_modify)
		select DATE_FORMAT(blockTimestamp,'%Y%m%d') as date,
			   count(*) as txn,
			   NOW(),
			   NOW()
		from tb_transaction
		group by date
	</insert>
	
	   <insert id="insertMarketAuctionSuccessEvent" parameterType="cn.bcos.browser.dto.MarketAuctionSuccessEventDTO" useGeneratedKeys="false">
        insert into MarketAuctionSuccessEvent(
            `blockNumber`,
            `blockHash`,
            `contractAddress`,
            `contractName`,
            `transactionIndex`,
            `transactionHash`,
            `eventIndex`,
            `transferFromAddress`,
            `transferFromID`,
            `transferFromName`,
            `transferFromGroup`,
            `transferToAddress`,
            `transferToID`,
            `transferToName`,
            `transferToGroup`,
            `warrantID`,
            `price`,
            `warrantDetail`,
            `blockTimestamp`
        ) values (
            #{blockNumber},
            #{blockHash},
            #{contractAddress},
            #{contractName},
            #{transactionIndex},
            #{transactionHash},
            #{eventIndex},
            #{transferFromAddress},
            #{transferFromID},
            #{transferFromName},
            #{transferFromGroup},
            #{transferToAddress},
            #{transferToID},
            #{transferToName},
            #{transferToGroup},
            #{warrantID},
            #{price},
            #{warrantDetail},
            #{blockTimestamp}
        )
    </insert>
    
     <insert id="insertAddWarrantEvent" parameterType="cn.bcos.browser.dto.AddWarrantEventDTO" useGeneratedKeys="false">
        insert into AddWarrantEvent(
            `blockNumber`,
            `blockHash`,
            `transactionIndex`,
            `transactionHash`,
            `WarrantTokenAddress`,
            `fromAddress`,
            `fromName`,
            `fromID`,
            `toAddress`,
            `toName`,
            `toID`,
            `warrantID`,
            `warrantDetail`,
            `blockTimestamp`
        ) values (
            #{blockNumber},
            #{blockHash},
            #{transactionIndex},
            #{transactionHash},
            #{WarrantTokenAddress},
            #{fromAddress},
            #{fromName},
            #{fromID},
            #{toAddress},
            #{toName},
            #{toID},
            #{warrantID},
            #{warrantDetail},
            #{blockTimestamp}
        )
    </insert>
    
    <insert id="insertCNS" parameterType="cn.bcos.browser.dto.CnsContractDTO">
        insert into CnsContract (
            `contractName`,
            `contractAddress`,
            `startBlock`,
            `endBlock`,
            `abi`,
            `code`,
            `bin`,
            `version`
        ) values (
            #{contractName},
            #{contractAddress},
            #{startBlock},
            #{endBlock},
            #{abi},
            #{code},
            #{bin},
            #{version}
        )
    </insert>
	
	<update id="updateBlockInfo" parameterType="cn.bcos.browser.dto.BlockChainInfoDTO">
		update tb_blockChainInfo 
		set lastBlock=#{lastBlock},
			txn=#{txn},
			pendingTxn=#{pendingTxn},
			pbftView=#{pbftView},
			avgTime=#{avgTime},
			gmt_modify=NOW()
	</update>
	
	
	<delete id="deletePendingTransInfo">
		truncate table tb_pendingTransaction
	</delete>
	
	<delete id="deleteNodeInfo">
		truncate table tb_nodesInfo
	</delete>
	
	<delete id="deleteRpcNode" parameterType="cn.bcos.browser.dto.NodeInfoDTO">
		delete from tb_nodesInfo where pk_id=#{pk_id}
	</delete>
	
	<select id="selectPkId" resultType="java.lang.String" >
		select pk_id from tb_nodesInfo
	</select>
	
	<update id="updateActive" parameterType="cn.bcos.browser.dto.NodeInfoDTO">
		update tb_nodesInfo 
		set active=#{active}
		where pk_id=#{pk_id}
	</update>
	
	<update id="updateAllActive" parameterType="cn.bcos.browser.dto.NodeInfoDTO">
		update tb_nodesInfo 
		set active="false"
	</update>
	
	<update id="updateBlocknum" parameterType="cn.bcos.browser.dto.NodeInfoDTO">
		update tb_nodesInfo 
		set blockNumber=#{blockNumber}
		where pk_id=#{pk_id}
	</update>
	
	<update id="updateIp" parameterType="cn.bcos.browser.dto.NodeInfoDTO">
		update tb_nodesInfo 
		set addr=#{addr}
		where pk_id=#{pk_id}
	</update>
	
	<select id="selectPeerRpc" resultType="cn.bcos.browser.dto.PeerRpcDTO" >
		select pk_id,ip,rpcPort from tb_nodeConnection
	</select>
	
</mapper>