<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bcos.browser.dao.StatServiceDAO">

	<select id="insertSingleStatInfo" parameterType="cn.bcos.browser.dto.SingleStatInfoDTO" statementType="CALLABLE">
		{call procedure_insert_table_tb_single_stat_by_day(
			#{object,mode=IN,jdbcType=VARCHAR},
			#{attr,mode=IN,jdbcType=VARCHAR},
			#{attrName,mode=IN,jdbcType=VARCHAR},
			#{collectTimestamp,mode=IN,jdbcType=TIMESTAMP},
			#{metricValue,mode=IN,jdbcType=DOUBLE},
			#{hostIp,mode=IN,jdbcType=VARCHAR},
			#{detailInfo,mode=IN,jdbcType=VARCHAR}
		)}
	</select>
	
	<select id="insertStatTransactionInfo" parameterType="cn.bcos.browser.dto.StatTransactionInfoDTO" statementType="CALLABLE">
		{call procedure_insert_table_tb_stat_transaction_by_day(
			#{hash,mode=IN,jdbcType=VARCHAR},
			#{object,mode=IN,jdbcType=VARCHAR},
			#{collectTimestamp,mode=IN,jdbcType=TIMESTAMP},
			#{startMsg,mode=IN,jdbcType=VARCHAR},
			#{startTime,mode=IN,jdbcType=VARCHAR},
			#{onChainMsg,mode=IN,jdbcType=VARCHAR},
			#{onChainTime,mode=IN,jdbcType=VARCHAR},
			#{detailInfo,mode=IN,jdbcType=VARCHAR}
		)}
	</select>
	
	<select id="insertStatBlockInfo" parameterType="cn.bcos.browser.dto.StatBlockInfoDTO" statementType="CALLABLE">
		{call procedure_insert_table_tb_stat_block_by_day(
			#{height,mode=IN,jdbcType=INTEGER},
			#{object,mode=IN,jdbcType=VARCHAR},
			#{collectTimestamp,mode=IN,jdbcType=TIMESTAMP},
			#{hash,mode=IN,jdbcType=VARCHAR},
			#{start,mode=IN,jdbcType=VARCHAR},
			#{sealed,mode=IN,jdbcType=VARCHAR},
			#{execed,mode=IN,jdbcType=VARCHAR},
			#{signed,mode=IN,jdbcType=VARCHAR},
			#{commited,mode=IN,jdbcType=VARCHAR},
			#{onChain,mode=IN,jdbcType=VARCHAR},
			#{viewchange_start,mode=IN,jdbcType=VARCHAR},
			#{viewchanged,mode=IN,jdbcType=VARCHAR},
			#{detailInfo,mode=IN,jdbcType=VARCHAR}
		)}
	</select>
	
	<select id="selectAllStatTransaction" statementType="STATEMENT" resultType="cn.bcos.browser.dto.StatTransactionInfoDTO">
		select hash,object from ${tableName}
	</select>
	
	<select id="selectAllBlock" statementType="STATEMENT" resultType="cn.bcos.browser.dto.StatBlockInfoDTO">
		select hash,object from ${tableName}
	</select>
	
	
</mapper>