<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- Configure global properties -->
   <settings>
       <!-- Use jdbc's getGeneratedKeys to get the database's increment primary key value -->
       <setting name="useGeneratedKeys" value="true"/>
       <!-- Replace column names with column aliases Default: true-->
       <setting name="useColumnLabel" value="true" />
   </settings>
</configuration>